<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
   <div class="container">
       <h2>Calculator App</h2>
   </div>
    <div class="container">
        <h4>This is simple Calculator</h4>
    </div>
    <div class="container">
        <form action="/send" method="POST">
            <label for="Number one">First Number</label>
            <input
             type="text"
             name="num1"
             placeholder="First Number"
             id=""
             class="u-full-width"
              />
        
            <label for="Number two">Second Number</label>  
            <input 
            type="text"
            name="=num2"
            placeholder="Second Number"
            id=""
            class="u-full-width"
            />

            <label for="Operation">Operation</label>
            <select class="u-full-width" name="operation" id="">
                <option value="add">Add</option>
                <option value="subtract">Subtract</option>
                <option value="Multiply">Multiply</option>
                <option value="divide">Divide</option>
            </select>
            <input type="submit" value="Calculator" id="calc_btn">
        </form>
        
    </div>
   
</body>
</html> 